html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f2f5;
}

.title {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #909399;
  margin-bottom: 12px;

  &::before,
  &::after {
    content: '';
    border-top: 1px solid #e4e7ed;
  }

  &::before {
    width: 12px;
    margin-right: 10px;
  }

  &::after {
    flex: 1;
    margin-left: 10px;
  }
}